
@mixin buttons (){
 border: none;
 padding: 5px 10px;
 border-radius: 5px;
 &:hover{
    background-color: transparent;
    cursor: pointer;
 }

}

@mixin chart(){
   padding: 5px 10px;
   border-radius: 5px;
   outline: none;
   border: 1px solid $color-primary;   
   &:focus{
      box-shadow: 0 0 5px $color-success;
      outline: none
   }
}

@mixin colorline(){
   border: 2px solid $color-success; 
}