@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-type:'Poppins';
$color-primary:rgb(249, 155, 125);
$color-secondary:  rgb(231, 97, 97);
$color-success: rgb(176, 71, 89);
$color-four:rgb(139, 172, 170);